<ion-header #header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>title</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollEvents="true" (ionScroll)='onContentScroll($event)'>
  <ion-list>
    <ion-item detail="true" *ngFor="let show of details">
      <ion-label>{{show}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>